.dashboard-top-list-item {
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  border-bottom: 4px solid #2fff00;
}

.user-dashboard-card {
  background: #D6DCE5;
  box-shadow: none;
}

.dashboard-top-list-item-heading {
  font-size: 20px;
  color: #5e6164;
}

.dashboard-top-list-item-desc {
  font-size: 25px;
  font-weight: 600;
}